[[inputs.mqtt_consumer]]
  servers = ["ssl://942075f3b1b14c5d96569228d55c3682.s1.eu.hivemq.cloud:8883"]
  topics = ["/sensor/parking", "/sensor/temperaturaCalidad", "/contenedores/estado"]
  username = "hivemq.webclient.1737116538886"
  password = "d:RThu0SC$sml#51B9.A"
  qos = 0
  data_format = "json"  # Especificamos que los datos están en formato JSON
  tag_keys = []  # Opcional, para añadir ciertas claves JSON como etiquetas
  json_string_fields = ["occupied", "available", "temperatura", "calidadAire","capacidad_usada"]  # Claves que deben tratarse como cadenas
  insecure_skip_verify = true  # Omitir verificación de certificado SSL

[[outputs.influxdb_v2]]
  urls = ["https://us-east-1-1.aws.cloud2.influxdata.com"]
  token = "FWW0H28fiaICYWpoFicsaCHFvKPo2C3ntyzyrJ-Ze8g-oKvxQ77UO8E5lu2ksQJPHm5GfwMEnvl6wDqYxzKwyA=="
  organization = "Grupo8-Ciberfisicos"
  bucket = "telefonica"